#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tooltip {
  position: fixed;
  top: 20px;
  left: 20px;
  background: black;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
}

.human-body {
  width: 400px;
}

.muscle {
  fill: #cfcfcf;
  cursor: pointer;
  transition: fill 0.2s;
}

.muscle:hover {
  fill: #ff4d4d;
}

